python-bitcoinrpc==1.0
Pillow==8.1.1
PyNaCl
msgpack==0.5.6
pyzmq==17.1.2
zstandard
pandas
scipy
numpy
Keras==2.1.6
aiohttp==3.5.4
peewee==3.9.6
Keras-Applications
Keras-Preprocessing
requests==2.22.0
base58==2.0.0
tensorflow==1.13.1
colorlog

# dev
PyInstaller==3.5
