python-bitcoinrpc==1.0
Pillow==6.2.0
PyNaCl==1.2.1
msgpack==0.5.6
pyzmq==17.1.2
zstandard==0.9.1
pandas==0.23.0
tensorflow==1.13.1
scipy==1.1.0
numpy==1.14.3
Keras==2.1.6
aiohttp==3.5.4
peewee==3.9.6
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1

# dev
PyInstaller==3.5
